html {
    overflow: auto;
}

body {
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

button {
    color: white;
    background: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 15px;
}

input[type="text"]
{
    font-size:16px;
    line-height: 1.61111em;
    color: black;
    font-weight: bold;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    overflow-wrap: break-word;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.row {
    float: left;
    width: 100%;
}

.left-div {
    position: relative;
    width: 20%;
    background-color: #f8f8f8;
}

.right-div {
    width: 76%;
    color: #dfdfdf;
}

/* MODEL ---------------------------------------------------------------------------------------------*/

.model {
    height: 100vh;
    width: 95%;
}

.model-hover {
    display: none;
    position: absolute;
    background-color: #dfdfdf;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
}

.model-hover.hover {
    display: block;
    z-index: 99;
}

.hover-text {
    font-size: 40px;
    color: #599c50;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.model-img {
    text-align: center;
}

.model-photo {
    max-width: 80%;
}

.model-labels {
    position: relative;
    font-weight: bold;
    text-align: end;
}

.model-label {
    display: inline-block;
    margin: 4px 0;
    width: 100%;
}

.model-label-name:first-letter {
    text-transform: uppercase;
}

.model-label-value {
    width: 80px;
    padding: 4px 0;
    margin-right: 10%;
    color: black;
    text-align: center;
    border: none;
    background-color: transparent;
}

.green .model-label-value {
    color: white;
    background-color: #6a9768;
}

.model-button {
    position: absolute;
    top: 210px;
    left: 0;
}

.model-button button {
    margin-right: 10%;
    margin-top: 20px;
}

.model-button .button-plus {
    font-size: 16px;
}

/* SHAPES -------------------------------------------------------------------------------------------*/

.shapes {
    padding: 30px 0 30px 60px;
}

.shape {
    position: relative;
    float: left;
    width: 109px;
    text-align: center;
    cursor: pointer;
    min-height: 150px;
}

.shape-img {
    width: 70px;
    height: 70px;
}

.shape-line {
    height: 8px;
    background: #dfdfdf;
}

.green .shape-line {
    background: green;
}

.shape-name {
    padding: 10px;
    text-align: center;
}

.shape-name:first-letter {
    text-transform: uppercase;
}

.green .shape-name {
    color: green;
}

.material-shape {
    width: 100px;
}

.shape-circle {
    height: 60px;
    width: 60px;
    border: 3px solid #c6c6c6;
    border-radius: 50%;
    cursor: pointer;
}

.green .shape-circle {
    border-color: green;
}

.shape-material {
    padding-top: 10px;
}

.shape-material:first-letter {
    text-transform: uppercase;
}

.green .shape-material {
    color: green;
}

/* SHAPE BOX ----------------------------------------------------------------- */

.shape-box {
    display: none;
    position: absolute;
    width: 120px;
    text-align: left;
    flex-direction: column;
}

.green .shape-box {
    display: flex;
}

.shape-single-box {
    display: none;
}

.green .shape-single-box {
    display: block;
    padding: 5px;
    cursor: pointer;
}

.shape-container {
    background-color: white;
    border: 1px solid #dfdfdf;
    border-top: none;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    order: 1;
}

.shape-selected {
    position: relative;
    order: 0;
}

.shape-selected::after {
    content: "";
    background: url("Images/icon.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 20px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.shape-container.shape-active {
    max-height: 100px;
    opacity: 1;
    overflow-y: scroll;
}

.shape-container.shape-active + .shape-selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.shape-container::-webkit-scrollbar {
    width: 8px;
    background: #008000;
}

.shape-container::-webkit-scrollbar-thumb {
    background: #016101;
}

.shape-option,
.shape-selected {
    padding: 5px;
    cursor: pointer;
}

.shape-option:hover {
    background: #008000;
}

.shape-box label {
    cursor: pointer;
}

.shape-radio {
    display: none;
}

/* SUMMARY -----------------------------------------------------------------------------------*/

.line {
    height: 2px;
    background: #dfdfdf;
}

.summary {
    margin-left: 50px;
}

.summary-sum {
    padding: 20px;
}

.summary-name {
    color: #232731;
    font-weight: bold;
}

.summary-amount {
    font-size: 1.5rem;
    color: #599c50;
    font-weight: bold;
    margin-left: 5px;
}

/* BOX ----------------------------------------------------------------------------------*/

.boxes-container {
    width: 1104px;   /* 1104 */
    position: relative;
    min-height: 250px;
    margin: 0 auto;
}

.boxes-inner {
    overflow: hidden;
}

.boxes-track {
    display: inline-flex;
    transition: transform 0.5s;
}

.box-container {
    width: 370px;
    flex-shrink: 0;
    height: 250px;
    padding-right: 30px;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 100%;
    border: 2px solid #599c50;
    box-sizing: border-box;
}

.left-box {
    height: 100%;
    width: 100px;
    border-right: 1px solid #dfdfdf;
    text-align: center;
}

.right-box {
    height: 100%;
    width: auto;
    position: relative;
}

.box-shape {
    padding-top: 15px;
    float: left;
}

.box-img {
    width: 50px;
    height: 50px;
}

.box-name {
    padding: 5px;
    text-align: center;
}

.box-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.box-material {
    padding-top: 5px;
}

.box-labels {
    padding: 20px;
}

.box-button {
    position: absolute;
    right: 0px;
    bottom: 20px;
    text-align: right;
}

.boxes-arrow {
    position: absolute;
    width: 50px;
    height: 100px;
    z-index: 100;
    top: 70px;
    cursor: pointer;
}

.next {
    right: -50px;
}

.prev {
    left: -50px;
    transform: rotate(180deg);
    display: none;
}

.prev.show {
    display: block;
}

.next.hide {
    display: none;
}

/* MOBILE ------------------------------------------------------------------------------=*/

@media only screen and (max-width: 1200px) {
    .left-div {
        width: 100%;
    }

    .right-div {
        width: 100%;
    }

    .model {
        height: 320px;
        padding-top: 40px;
        text-align: center;
    }

    .model-content {
        height: 100%;
    }

    .model-img {
        width: 60%;
        text-align: end;
    }

    .model-labels {
        width: 40%;
        text-align: left;
    }

    .model-label {
        width: 100%;
    }

    .model-label-name {
        display: inline-block;
        width: 50%;
    }

    .boxes-container {
        width: 370px;
    }

    .boxes-arrow.next {
        right: -50px;
    }
}

@media only screen and (min-width: 1200px) {
    .box-container:nth-of-type(3n) {
        -webkit-mask-image: linear-gradient(to left, transparent 5%, black 50%);
        mask-image: linear-gradient(to left, transparent 5%, black 100%);
    }

    .box-container:last-of-type {
        mask-image: none;
    }
}